<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="./drag-form.css">
<link rel="stylesheet" href="../../../public/assets/styles/main.css">
<script src="../../utils/strUtil.js"></script>
<script src="../../domain/carotaEnum.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../../node_modules/sortablejs/Sortable.js"></script>
<!--<script src="./drag-form.js"></script>-->

<meta charset="utf-8"></meta>
<!-- 表单设计器按钮 -->
<button type="button" class="btn btn-dark align-self-center" data-bs-toggle="modal" data-bs-target="#designModal">
    表单设计
</button>

<!-- 表单设计器 modal -->
<div class="modal fade" id="designModal" tabindex="-1" aria-labelledby="designModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <!-- modal内容 -->
            <div class="modal-body">
                <!-- 标题 -->
                <div class="row designer-title-carota">
                    <div class="col">
                        <h1 class="modal-title fs-5" id="designModalLabel"></h1>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-link btn-link-carota">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button type="button" class="btn btn-link btn-link-carota">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-link btn-link-carota">
                            <i class="bi bi-sign-turn-left"></i>
                        </button>
                        <button type="button" class="btn btn-link btn-link-carota">
                            <i class="bi bi-sign-turn-right"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- 组件栏 -->
                    <div class=" sidebar-carota carota-border">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-tab-component" type="button" role="tab"
                                        aria-controls="home-tab-component" aria-selected="true">组件
                                </button>
                            </li>
                            <!--                                <li class="nav-item" role="presentation">-->
                            <!--                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>-->
                            <!--                                </li>-->

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!-- 组件列表开始 -->
                            <div class="tab-pane fade show active" id="home-tab-component" role="tabpanel"
                                 aria-labelledby="home-tab" tabindex="0">

                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-base"
                                                    aria-expanded="true" aria-controls="panelsStayOpen-base">
                                                基础组件
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-base" class="accordion-collapse collapse show">
                                            <div class="accordion-body container text-center">
                                                <div class="row">
                                                    <div class="col col-md-12 col-lg col-sortable">
                                                        <button type="button"
                                                                class="btn btn-outline-primary btn-carota">
                                                            <i class="bi bi-input-cursor"></i> 单行输入
                                                        </button>
                                                    </div>
                                                    <div class="col col-md-12  col-lg col-sortable">
                                                        <button type="button"
                                                                class="btn btn-outline-primary btn-carota">
                                                            <i class="bi bi-textarea-resize"></i> 多行输入
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseTwo"
                                                    aria-expanded="false"
                                                    aria-controls="panelsStayOpen-collapseTwo">
                                                布局
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col col-md-12 col-lg col-sortable">
                                                        <button type="button"
                                                                class="btn btn-outline-primary btn-carota">
                                                            选项卡
                                                        </button>
                                                    </div>
                                                    <div class="col col-md-12  col-lg col-sortable">
                                                        <button type="button"
                                                                class="btn btn-outline-primary btn-carota">
                                                            <i class="bi bi-textarea-resize"></i> 多行输入2
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- 组件列表结束 -->
                            <!--                                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>-->
                        </div>
                    </div>
                    <!-- 设计栏 开始-->
                    <div class=" design-panel-carota carota-border">
                        <div class="container" id="design-panel-sortable">
                            <div class="row">
                                <div class="col-6">123</div>
                                <div class="col">123</div>
                                <div class="col">123</div>
                                <div class="col">123</div>
                                <div class="col">123</div>
                            </div>
                            <div class="row">
                                <div class="col-6">123</div>
                                <div class="col-6">123</div>
                                <div class="col-6">123</div>
                                <div class="col-6">123</div>
                            </div>
                            <div class="row"></div>
                        </div>
                    </div>
                        <!-- 设计栏 结束-->

                    <!-- 属性栏 -->
                    <div class=" sidebar-carota carota-border">
                        <div class="screen">
                            <!-- 第三个屏幕的内容 -->
                            <h1>属性栏</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./index.js"></script>
<script>

    let modalTitle = '新建表单'
    let data = {
        model: designModel.NEW,
        title: ''
    }

    // 监听设计页面展示事件
    document.getElementById('designModal').addEventListener('show.bs.modal', event => {
        if (designModel.NEW !== data.model) {
            modalTitle = data.title;    // 如果不是新建表单,替换标题
        }
        document.getElementById('designModalLabel').textContent = modalTitle;  // 设置modal标题
    })

    function cancelButton() {
        console.log("cancel")
        // 发送返回值
        allEvent.source.postMessage("你好", allEvent.origin);
    }

    /**
     * 隐藏按钮
     */
    // function toggleSidebars() {
    //     const sidebars = document.querySelectorAll('.sidebar-carota');
    //     const designPanel = document.querySelector('.design-panel');
    //
    //     sidebars.forEach(sidebar => sidebar.classList.toggle('collapsed'));
    //     designPanel.classList.toggle('col');
    //     designPanel.classList.toggle('col-8');
    // }
</script>
